### PROJECT 2

The Titan Insurance Company has just installed a new incentive payment scheme for its lift policy sales force. It wants to have an early view of the success or failure of the new scheme. Indications are that the sales force is selling more policies, but sales always vary in an unpredictable pattern from month to month and it is not clear that the scheme has made a significant difference.

Life Insurance companies typically measure the monthly output of a salesperson as the total sum assured for the policies sold by that person during the month. For example, suppose salesperson X has, in the month, sold seven policies for which the sums assured are £1000, £2500, £3000, £5000, £10000, £35000. X's output for the month is the total of these sums assured, £61,500. Titan's new scheme is that the sales force receives low regular salaries but are paid large bonuses related to their output (i.e. to the total sum assured of policies sold by them). The scheme is expensive for the company, but they are looking for sales increases which more than compensate. The agreement with the sales force is that if the scheme does not at least break even for the company, it will be abandoned after six months.

The scheme has now been in operation for four months. It has settled down after fluctuations in the first two months due to the changeover.

To test the effectiveness of the scheme, Titan have taken a random sample of 30 salespeople measured their output in the penultimate month prior to changeover and then measured it in the fourth month after the changeover (they have deliberately chosen months not too close to the changeover). The outputs of the salespeople are in csv

In [1]:
#importing the necessary files for processing the data
import pandas as pd
import numpy as np
import scipy.stats as stats
import scipy as scipy

In [2]:
#reading the csv file which has all the data in the table mentioned in the question originally
salesperson_data = pd.read_csv("Salesperson_data.csv",header=1,usecols=[1,2,3])
salesperson_data.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [3]:
#checking if there is any ? or blanks in the dataset
#since all the three columns as 30 data entries so there is no ? or blank in the dataset
salesperson_data.count()

SALESPERSON                  30
Old Scheme (in thousands)    30
New Scheme (in thousands)    30
dtype: int64

#### 1. Find the mean of old scheme and new scheme column. (5 points)

In [4]:
old_scheme = np.array(salesperson_data['Old Scheme (in thousands)']*1000)
print("Mean of old scheme: "+ str(old_scheme.mean()))
print("Standard deviation of old scheme: "+ str(old_scheme.std()))

Mean of old scheme: 68033.33333333333
Standard deviation of old scheme: 20112.157738265898

In [5]:
new_scheme = np.array(salesperson_data['New Scheme (in thousands)']*1000)
print("Mean of new scheme: "+ str(new_scheme.mean()))
print("Standard deviation of new scheme: "+ str(new_scheme.std()))

Mean of new scheme: 72033.33333333333
Standard deviation of new scheme: 23657.95614352366

In [14]:
mean_diff = new_scheme.mean() - old_scheme.mean()
print("Difference in two mean: "+ str(mean_diff))

std_diff = new_scheme.std() - old_scheme.std()
print("Difference in two SD: "+ str(std_diff))

Difference in two mean: 4000.0
Difference in two SD: 3545.798405257763

#### 2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)

In [7]:
#Since the data is collected before and after a new scheme was launched,it is a clear case of paired t-test.
# alpha or confidenec level is 5% here
# Null Hypothesis     : The new scheme did not raise outputs
# Alternate Hypotheis : The new scheme has significantly raised outputs
p = stats.ttest_rel(old_scheme,new_scheme)[1]
p

0.13057553961337662

In [8]:
if(p<0.05):
    print("Ha = Accept Alternate Hypothesis, The new scheme has significantly raised outputs")
else:
    print("Ho = Accept Null Hypothesis, The new scheme did not raise outputs significantly")

Ho = Accept Null Hypothesis, The new scheme did not raise outputs significantly

#### 3. What conclusion does the test (p-value) lead to? (2.5 points)

`Null Hypothesis     : The new scheme did not raise outputs
Alternate Hypotheis  : The new scheme has significantly raised outputs
Since, the p-value is greater than 0.05 level of significance so, statistical decision is that the new scheme did not raise the ouputs significantly.`

#### Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
####        a) The probability of a type 1 error? (2.5 points)

`Alternate hypothesis(Ha) : The average increase in the output compared to old scheme id 5000 pound
Null hypothesis(Ho)      : The average increase is not 5000 pound,it could be a decrease also.`

`a) The probability of Type I error = significant level = 5% as we have done the hypothesis testing on 5% confidence level.`

####        b) What is the p- value of the hypothesis test if we test for a difference of 5000 dollar? (10 points)

In [17]:
#Null Hypothesis(Ho)      : Difference in the mean values is less than or equal to 5000(<=5000)
#Alternate Hypothesis(Ha) : Difference in the mean values is greater than 5000(>5000)
#So, this is a right tail test.
diff = new_scheme-old_scheme
p = stats.ttest_1samp(diff, 5000)[1]
print("p-value of the hypothesis test with test differnece of $5000: "+ str(p))
if(p<0.05):
    print("Ha = Accept Alternate Hypothesis, Difference in the mean values is greater than 5000")
else:
    print("Ho = Accept Null Hypothesis, ifference in the mean values is less than or equal to 5000")

p-value of the hypothesis test with test differnece of $5000: 0.7001334912613286
Ho = Accept Null Hypothesis, ifference in the mean values is less than or equal to 5000

####        c) Power of the test (5 points)

In [23]:
import statsmodels.stats.power as smp
n=30
print("The Power of this two sample t-test is:" + str(smp.ttest_power(mean_diff/std_diff, nobs=n, alpha=0.05,df=n-1, alternative="two-sided")))

The Power of this two sample t-test is:0.9999689090628391